<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Trivia MCQ</title>

    <link type="text/css" rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header id="main-header" class="bg-success text-white p-4 mb-3">
      <h1>Homework 5 Trivia MCQ</h1>
    </header>

    <div class="container">
      <main>
        <h2>
          Come check this page once you've submitted your answers!
        </h2>
        
      </main>
    </div>

    <div class="container">
      <h3>Here are the scores!</h3>
      <div class="card card-body">
        <ul class="list-group">
          <%data.forEach((item)=>{%>
          <li class="list-group-item">
            user: <%=item.id%> &nbsp; q1: <%= item.q1%> &nbsp; q2:
            <%=item.q2%> &nbsp; q3: <%= item.q3%> &nbsp; q4:
            <%=item.q4%> &nbsp; q5: <%= item.q5%> &nbsp; q6:
            <%=item.q6%> &nbsp;
         
              answers: <%=item.id%> &nbsp; a1: <%= item.a1%> &nbsp; a2:
              <%=item.a2%> &nbsp; a3: <%= item.a3%> &nbsp; a4:
              <%=item.a4%> &nbsp; a5: <%= item.a5%> &nbsp; a6:
              <%=item.a6%> &nbsp;
            </li>
          <%});%>
        </ul>
      </div>
    </div>
  </body>
</html>
